<!DOCTYPE html>
<html>
<head>
   <title><%= yield(:title) %> | WeltN24 SEO Dashboard</title>
 
  <link rel="stylesheet" id="font-awesome-css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen">
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <script src="//www.google.com/jsapi"></script>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body id="<%= @body_id %>">
<% if user_signed_in? %>	
<%= render 'layouts/header' %>

   <div id="page-wrapper">
     <div class="row">
		<div id="alert">
		 	   <% if notice %>
		 	     <p class="alert alert-notice"><%= notice %></p>
		 	   <% end %>
		 	   <% if alert %>
		 	     <p class="alert alert-error"><%= alert %></p>
		 	   <% end %>
		</div>
  </div>
	   	<%= yield %>
      </div>
      <!-- /#page-wrapper -->
		<%= render 'layouts/footer' %>
   
   </div>
   <!-- /#wrapper -->
   
   <% else %>	
   <div id="page-wrapper">
		<div id="alert">
		 	   <% if notice %>
		 	     <p class="alert alert-notice"><%= notice %></p>
		 	   <% end %>
		 	   <% if alert %>
		 	     <p class="alert alert-error"><%= alert %></p>
		 	   <% end %>
		</div>
	   	<%= yield %>
  </div>
   <!-- /#page-wrapper -->
   <%= render 'layouts/footer' %>
   
  
<% end %>
 

  
</body>
</html>
